/*---- BUTTONS ---- */

@media only screen and (min-width: 900px) {
    .btn-badge {
        span {
            font-size: 0.7em;
        }
    }
}


/*---- END BUTTONS ----*/

/*---- LISTS ----*/
.list-block {
    display: flex;
    flex-wrap: wrap;
}
.title-list {
    padding: 0.6em 1.2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    span {
        flex-grow: 1;
        font-size: 1.1em;
        font-weight: 500;
    }
    i {
        display: inline-flex;
        font-size: 1.3em;
    }
}
.list-items {
    display: flex;
    flex-wrap: wrap;
    background: var(--btn-light);
    border-radius: 1.3em;
    margin-bottom: 0.5em;
    .l-item {
        font-family: "Arimo", sans-serif;
        display: inline-flex;
        width: 100%;
        padding: 0.5em 1.2em;
        align-items: center;
        border-radius: 1.6em;
    }
}

/*---- END LISTS ----*/

@keyframes spark {
    0% {
        color: #3e3e3e;
    }
    20% {
        color: #fff;
    }
    100% {
        color: #3e3e3e;
    }
}
@keyframes spark2rec {
    0% {
        border-color: #ec953c;
    }
    20% {
        border-color: #ffffff;
    }
    100% {
        border-color: #ec953c;
    }
}
@keyframes spark2knoho {
    0% {
        border-color: #7eca5e;
    }
    20% {
        border-color: #ffffff;
    }
    100% {
        border-color: #7eca5e;
    }
}
@keyframes sparkwrap {
    0% {
        background-color: #3e3e3e;
    }
    20% {
        background-color: #585858;
    }
    100% {
        background-color: #3e3e3e;
    }
}


div#content {
    position: relative;
    padding-top: 0;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100 - 20em);
    main > * {
        margin-right: auto;
        margin-left: auto;
    }
}
.boss321 {
    color: white;
}
main {
    > * {
        display: inline-flex;

        width: 100%;

        flex-wrap: wrap;
    }
}
.nb-about .nba-about {
    display: none;
}
.chip {
    position: relative;
    font-size: 0.875em;
    background: var(--btn-dark-08);
    padding: 0.7em 1.5em;
    border-radius: 2em;

    span,
    .comment-count {
        color: var(--btn-s-color);
        opacity: 0.9;
    }
    i {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 2.8em;
        font-size: 17px;
        opacity: 0.9;
        color: var(--body-color);
    }
    &.icon-left {
        padding: 0.5em 1.5em 0.6em 3.5em;
        i {
            left: 0;
        }
    }
    &.icon-right {
        padding: 0.5em 3.5em 0.6em 1.5em;
        i {
            right: 0;
        }
    }
}

h2.title {
    margin-bottom: 0.5em;
}
h3.title {
    margin-bottom: 0.5em;
}
h4.title {
    margin-bottom: 0.5em;
}

img.wp-post-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.content_front {
    margin-right: 5em;
    padding: 2em 1.5em;
    max-width: 27em;
    .title {
        margin-bottom: 0.5em;
        line-height: 1.1em;
        font-weight: 700;
        color: #fff;
    }
    .title_about {
        font-size: 0.8em;
        line-height: 1.5em;
        color: #fff;
    }
}
.collaps-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}
.content {
    position: relative;
    padding-bottom: calc(var(--vh, 1vh) * 10);
    .s_wrap,
    .s_wrap > * {
        width: 100%;
        position: relative;
    }
    .s_wrap {
        margin-right: auto;
        margin-left: auto;
    }
}
.menu-search_pc {
    display: none;
}

.md-checkbox {
    opacity: 0.3;
    display: inline-flex;
    order: 1;
    vertical-align: middle;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 1px solid currentColor;
    border-radius: 8px;
    transition: 0.1s ease;
    user-select: none;
}
div#slide-out * {
    user-select: none;
}

.selected .md-checkbox {
    background-size: 0.9em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 375.147 375.147'%3e%3cpath data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFF' d='M344.96 44.48L119.147 270.293l-88.96-88.96L0 211.52l119.147 119.147 256-256z'/%3e%3c/svg%3e");
}
.indeterminate .md-checkbox {
    background-size: 0.9em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 298.667 298.667'%3e%3cpath data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFF' d='M0 128h298.667v42.667H0z'/%3e%3c/svg%3e");
}
.selected2 .md-checkbox {
    background-size: 1.2em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 495.787 495.787'%3e%3cpath data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFF' d='M119.1449 390.9885L-.0008 271.843l30.1861-30.1861L149.331 360.8024zM375.147 134.987L344.96 104.8 209.707 240.16l30.186 30.187z'/%3e%3cpath data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFF' d='M465.707 104.8l-225.92 225.813-88.96-88.96-30.187 30.187 119.147 119.147 256-256z'/%3e%3c/svg%3e");
}

.navigation.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1em;
}
.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 0.8em;
}
.page-numbers {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    margin: 0 0.5em;
    line-height: 1.85;
    font-size: 1em;
    color: var(--body-color) !important;
    background: none;
    border-radius: 1.5em;
    &.current {
        background: var(--body-color);
        color: var(--body-back) !important;

        pointer-events: none;
    }
    &.next,
    &.prev {
        width: 5em;
        background: var(--btn-dark);
        margin: 0 1.3em;
        transition: 0.1s;
        i {
            color: var(--btn-s-color) !important;
        }
    }
}

@media all and (min-width: 400px) {
}

@media all and (min-width: 550px) {
}

@media only all and (min-width: 900px) {
    div#content {
        min-height: calc(var(--vh, 1vh) * 100 - 14em);
    }
    .content {
        font-size: 1.1em;
        max-width: 1300px;
    }
}

@media only screen and (min-width: 900px) {
    div#content {
        padding-top: 6em;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    div#content {
        padding-top: 9em;
    }
    .page-numbers.next,
    .page-numbers.prev {
        &:hover {
            background: var(--body-color);
            i {
                color: var(--body-back) !important;
            }
        }
    }
}

@media all and (max-width: 600px) {
}

@media all and (max-width: 549px) {
}

@media only screen and (min-width: 1200px) {
    .content {
        .s_wrap {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
}

@media screen and (min-width: 100px) and (max-width: 1300px) and (min-height: 880px) {
}
