@keyframes golinedot {
    0% {
        transform: translate(20px, 0px);
    }
    99.99999999% {
        transform: translate(960px, 0px);
    }
    100% {
        transform: translate(20px, 0px);
    }
}
@keyframes bupdowmgggg {
    0% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(0px, -5px) scaleY(0.9) scaleX(1.1);
    }
    50% {
        transform: translate(0px, -2px) scaleY(1.1);
    }
    70% {
        transform: translate(0px, 3px) scaleY(1) scaleX(1);
    }
    85% {
        transform: translate(0px, 5px) scaleY(0.9) scaleX(1.2);
    }

    100% {
        transform: translate(0px, 0px) scaleY(1) scaleX(1);
    }
}

@keyframes logogameone {
    0% {
        opacity: 1;
    }
    0.5% {
        opacity: 1;
    }
    2.9% {
        opacity: 1;
    }
    3.5% {
        opacity: 0.5;
    }
    16.366666666% {
        opacity: 0.5;
    }
    16.966666666% {
        opacity: 1;
    }
    19.56666666% {
        opacity: 1;
    }
    20.16666666% {
        opacity: 0.5;
    }
    33.0333333% {
        opacity: 0.5;
    }
    33.6333333% {
        opacity: 1;
    }
    36.2333333% {
        opacity: 1;
    }
    36.83333333% {
        opacity: 0.5;
    }
    49.7% {
        opacity: 0.5;
    }
    50.3% {
        opacity: 1;
    }
    52.9% {
        opacity: 1;
    }
    53.5% {
        opacity: 0.5;
    }
    66.36666666% {
        opacity: 0.5;
    }
    66.966666666% {
        opacity: 1;
    }
    69.5666666% {
        opacity: 1;
    }
    70.1666666% {
        opacity: 0.5;
    }
    83.0333333% {
        opacity: 0.5;
    }
    85% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
@keyframes logogamenull {
    0% {
        opacity: 1;
    }
    0.5% {
        opacity: 1;
    }
    2.9% {
        opacity: 1;
    }
    3.5% {
        opacity: 0.5;
    }
    16.366666666% {
        opacity: 0.5;
    }
    16.966666666% {
        opacity: 1;
    }
    19.56666666% {
        opacity: 1;
    }
    20.16666666% {
        opacity: 0.5;
    }
    33.0333333% {
        opacity: 0.5;
    }
    33.6333333% {
        opacity: 1;
    }
    36.2333333% {
        opacity: 1;
    }
    36.83333333% {
        opacity: 0.5;
    }
    49.7% {
        opacity: 0.5;
    }
    50.3% {
        opacity: 1;
    }
    52.9% {
        opacity: 1;
    }
    53.5% {
        opacity: 0.5;
    }
    66.36666666% {
        opacity: 0.5;
    }
    66.966666666% {
        opacity: 1;
    }
    69.5666666% {
        opacity: 1;
    }
    70.1666666% {
        opacity: 0.5;
    }
    83.0333333% {
        opacity: 0.5;
    }
    85% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.5;
    }
}
@keyframes logocolor {
    0% {
        fill: #e8eaed;
    }
    100% {
        fill: #ef7f1a;
    }
}

.caty-recipes .red-trail {
    animation: logogamenull 7.5s cubic-bezier(1, -0.01, 0, 0.99) forwards;
    animation-delay: 0.25s;
}
.caty-recipes .blue-trail {
    animation: logogamenull 7.5s cubic-bezier(1, -0.01, 0, 0.99) forwards;
    animation-delay: 0.5s;
}
.caty-recipes .green-trail {
    animation: logogamenull 7.5s cubic-bezier(1, -0.01, 0, 0.99) forwards;
    animation-delay: 0.75s;
}
.caty-recipes .purple-trail {
    animation: logogamenull 7.5s cubic-bezier(1, -0.01, 0, 0.99) forwards;
    animation-delay: 1s;
}
.caty-recipes .orange-trail {
    animation: logogameone 7.5s cubic-bezier(1, -0.01, 0, 0.99) forwards;
    animation-delay: 0s;
}
.caty-recipes .fill-logo1 {
    animation: logocolor 3.5s linear forwards;
    animation-delay: 3s;
    fill: #e8eaed;
}
