p.description {
  margin: 3em 0;
}
.p-components div#content {
  display: flex;
}
section {
  display: flex;
}
.showcase .list-block {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
}

.test-design {
  > * {
    width: 100%;
  }
  .btn {
    background: linear-gradient(-45deg, var(--btn-dark) 0%, var(--btn-dark) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(-135deg, var(--btn-dark) 0%, var(--btn-dark) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(45deg, var(--btn-dark) 0%, var(--btn-dark) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(135deg, var(--btn-dark) 0%, var(--btn-dark) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(0deg, var(--btn-dark), var(--btn-dark)) no-repeat, linear-gradient(90deg, var(--btn-dark), var(--btn-dark)) no-repeat;
    background-size: calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    100% calc(100% - 2 * 1.41421712 * (var(--corner-width))), calc(100% - 2 * 1.41421712 * (var(--corner-width))) 100%;
    background-position: left top, left bottom, right top, right bottom, center center, center center;
    border-radius: 0;
    --corner-width: 0.5em;
  }
  .btn2 {
    background: linear-gradient(-45deg, var(--btn2-dark) 0%, var(--btn2-dark) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(-135deg, var(--btn2-dark) 0%, var(--btn2-dark) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(45deg, var(--btn2-dark) 0%, var(--btn2-dark) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(135deg, var(--btn2-dark) 0%, var(--btn2-dark) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(0deg, var(--btn2-dark), var(--btn2-dark)) no-repeat, linear-gradient(90deg, var(--btn2-dark), var(--btn2-dark)) no-repeat;
    background-size: calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    100% calc(100% - 2 * 1.41421712 * (var(--corner-width))), calc(100% - 2 * 1.41421712 * (var(--corner-width))) 100%;
    background-position: left top, left bottom, right top, right bottom, center center, center center;
    border-radius: 0;
    --corner-width: 0.5em;
  }
  .btn3 {
    background: linear-gradient(-45deg, var(--btn-light) 0%, var(--btn-light) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(-135deg, var(--btn-light) 0%, var(--btn-light) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(45deg, var(--btn-light) 0%, var(--btn-light) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(135deg, var(--btn-light) 0%, var(--btn-light) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(0deg, var(--btn-light), var(--btn-light)) no-repeat, linear-gradient(90deg, var(--btn-light), var(--btn-light)) no-repeat;
    background-size: calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    100% calc(100% - 2 * 1.41421712 * (var(--corner-width))), calc(100% - 2 * 1.41421712 * (var(--corner-width))) 100%;
    background-position: left top, left bottom, right top, right bottom, center center, center center;
    border-radius: 0;
    --corner-width: 0.5em;
  }
  .btn4 {
    background: linear-gradient(-45deg, var(--btn2-light) 0%, var(--btn2-light) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(-135deg, var(--btn2-light) 0%, var(--btn2-light) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(45deg, var(--btn2-light) 0%, var(--btn2-light) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(135deg, var(--btn2-light) 0%, var(--btn2-light) var(--corner-width), transparent var(--corner-width)) no-repeat,
    linear-gradient(0deg, var(--btn2-light), var(--btn2-light)) no-repeat,
    linear-gradient(90deg, var(--btn2-light), var(--btn2-light)) no-repeat;
    background-size: calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    100% calc(100% - 2 * 1.41421712 * (var(--corner-width))), calc(100% - 2 * 1.41421712 * (var(--corner-width))) 100%;
    background-position: left top, left bottom, right top, right bottom, center center, center center;
    border-radius: 0;
    --corner-width: 0.5em;
  }
  .btn-outlined {
    background: linear-gradient(
                    -45deg,
                    transparent 0,
                    transparent calc(var(--corner-width) - var(--border-width)),
                    var(--border-color) calc(var(--corner-width) - var(--border-width)),
                    var(--border-color) var(--corner-width),
                    transparent var(--corner-width)
    )
    no-repeat,
    linear-gradient(
                    -135deg,
                    transparent 0%,
                    transparent calc(var(--corner-width) - var(--border-width)),
                    var(--border-color) calc(var(--corner-width) - var(--border-width)),
                    var(--border-color) var(--corner-width),
                    transparent var(--corner-width)
    )
    no-repeat,
    linear-gradient(
                    45deg,
                    transparent 0,
                    transparent calc(var(--corner-width) - var(--border-width)),
                    var(--border-color) calc(var(--corner-width) - var(--border-width)),
                    var(--border-color) var(--corner-width),
                    transparent var(--corner-width)
    )
    no-repeat,
    linear-gradient(
                    135deg,
                    transparent 0%,
                    transparent calc(var(--corner-width) - var(--border-width)),
                    var(--border-color) calc(var(--corner-width) - var(--border-width)),
                    var(--border-color) var(--corner-width),
                    transparent var(--corner-width)
    )
    no-repeat,
    linear-gradient(
                    90deg,
                    var(--border-color),
                    var(--border-color) var(--border-width),
                    transparent var(--border-width),
                    transparent calc(100% - var(--border-width)),
                    var(--border-color) calc(100% - var(--border-width)),
                    var(--border-color) 100%
    )
    no-repeat,
    linear-gradient(
                    180deg,
                    var(--border-color),
                    var(--border-color) var(--border-width),
                    transparent var(--border-width),
                    transparent calc(100% - var(--border-width)),
                    var(--border-color) calc(100% - var(--border-width)),
                    var(--border-color) 100%
    )
    no-repeat;
    background-size: calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
    100% calc(100% - 2 * 1.41421712 * (var(--corner-width))), calc(100% - 2 * 1.41421712 * (var(--corner-width))) 100%;
    background-position: left top, left bottom, right top, right bottom, center center, center center;
    border-radius: 0;
    --corner-width: 0.5em;
    --border-width: 0.2em;
    --border-color: var(--btn-border);
    border: none;
  }

  .btn,
  .btn2,
  .btn3,
  .btn4,
  .btn-outlined {
    &:hover {
      background: linear-gradient(-45deg, var(--btn-back-hover) 0%, var(--btn-back-hover) var(--corner-width), transparent var(--corner-width))
      no-repeat,
      linear-gradient(-135deg, var(--btn-back-hover) 0%, var(--btn-back-hover) var(--corner-width), transparent var(--corner-width))
      no-repeat,
      linear-gradient(45deg, var(--btn-back-hover) 0%, var(--btn-back-hover) var(--corner-width), transparent var(--corner-width)) no-repeat,
      linear-gradient(135deg, var(--btn-back-hover) 0%, var(--btn-back-hover) var(--corner-width), transparent var(--corner-width))
      no-repeat,
      linear-gradient(0deg, var(--btn-back-hover), var(--btn-back-hover)) no-repeat,
      linear-gradient(90deg, var(--btn-back-hover), var(--btn-back-hover)) no-repeat;
      background-size: calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
      calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
      calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
      calc(1.41421712 * (var(--corner-width))) calc(1.41421712 * (var(--corner-width))),
      100% calc(100% - 2 * 1.41421712 * (var(--corner-width))), calc(100% - 2 * 1.41421712 * (var(--corner-width))) 100%;
      background-position: left top, left bottom, right top, right bottom, center center, center center;
    }
  }
}
.part-block {
  margin-bottom: 3em;
  h3 {
    margin-bottom: 0.5em;
  }
  section {
    display: flex;
    .btn {
      margin-right: 0.5em;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .page-components {
    display: flex;
  }
  .nav-components {
    width: 20%;
    padding: 0 55px;
    .nav-title {
      font-size: 1.4em;
      font-weight: 700;
      flex-grow: 1;
      color: var(--body-color);
      padding: 0 1.6rem;
    }
  }
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    border: 1px solid var(--btn-border);
    border-radius: 1.5em;
    .nav-item {
      height: 2.6em;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 1.6rem;
      transition: 0.1s all;
      border-radius: 2em;
      span {
        color: var(--body-color);
        font-family: 'Arimo', sans-serif;
        font-weight: 600;
        transition: 0.1s all;
      }
      &:hover, &.active {
        background: var(--body-color);
        span {
          color: var(--body-back);
        }
      }
    }
  }

  .showdown-components {
    width: 80%;
    padding: 0 30% 0 10%;
  }
}
